.Weather {
    border: 4px double #79ADDC;
    border-radius: 40px;
    background: #FFEE93;
    font-family: 'Amatic SC';
    padding: 20px;
    margin: 30px auto 10px;
}
.Weather form {
    margin-bottom: 10px;
}
.Weather h2 {
    color:#79ADDC;
    font-weight: bold;
    font-size: 62px;
    line-height: 70px;
}
.Weather .temperature {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}
.Weather canvas {
    margin-right: 10px;
}
.Weather .unit {
    font-size: 28px;
    position: relative;
    top: -30px;
    margin-left: 4px;
    line-height: 1;
}
.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather li {
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    list-style:none;
}
.Weather .breathe {
    border:1px solid #79ADDC;
    border-radius: 300px;
    width: 150px;
    max-width: 80%;
    margin-bottom: 10px;
}